<!DOCTYPE html>
<html>
<title>Project</title>
 <link rel="stylesheet" href="css/styles.css">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
  .mySlides {display:none}
  .w3-tag, .fa {cursor:pointer}
  .w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
  </style>
    <body>




<div class="w3-top">
  <div class="w3-row w3-large w3-light-grey">
    <div class="w3-col s3">
      <div class="dropdown">
    <span>Library</span>
    <div class="dropdown-content">
    <a href="library.html">Catalog</a> <br>
     <a href="#">Book Club</a> <br>
     <a href="#">Link 3</a> <br>
  </div>
    </div>

    </div>
    <div class="w3-col s3">
      <a href='/login' class="w3-button w3-block">Login/Signup</a>
    </div>
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block">About</a>
    </div>
    <div class="w3-col s3">
      <a href="contact.html" class="w3-button w3-block">Contact Us</a>
    </div>
  </div>
</div>


<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

  <div class="w3-panel">
    <h1><b>Welcome to  Bookey</b></h1>

  </div>


</div>




    <div class = "main-image">
      <img src="images/mainpage.png" style="width: 70%; height: 8%"/>
    </div>





 <br>
 <br>
<br>



<div class="events">


       <div class="event-row">
         <img class="first-event" src="images/catalog.png" alt="first event"  >
         <h3>Library Catalog</h3>
         <p>We offer variety of books that can be picked up or delivered to you. </p>
       </div>
       <br>
        <br>
        <br>
        <br>
      <br>
       <div class="event-row">
         <img class="second-event" src="images/book-club.png" alt="event">
         <h3>Book Club</h3>
         <p>Here you can sign up for any book club you are intersted in where yo.</p>
       </div>
     </div>



     <br>
      <br>




        <div class="bottom-container">
      <a class="footer-follow" href="#">Follow US</a>

      <a class="footer-privacy" href="#"> Privacy </a>
    </div>




</body>
</html>
