<h3>Please Login</h3>
<!--  <form action="action_page.php" method="post"> -->


<label for="uname"><b>Username</b></label>
<input type="text" placeholder="Enter Username" name="uname" required>
<br>

<label for="psw"><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="psw"required>

<br>

<button type="submit">Login</button>

<br>
<label>
  <input type="checkbox" checked="checked" name="remember"> Remember me
</label>


  <p>Don't have an account? Join us!<a href="register">Sign Up</a>.</p>


  <button type="button" class="cancelbtn">Cancel</button>