<h3>Please Login</h3>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
<link rel="stylesheet" href="css/styles.css">

<form action="/login" method="POST">
<label for="email"><b>Username</b></label>
<input type="text" placeholder="Enter Username" name="email" required>
<br>

<label for="password"><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="password"required>

<br>

<button type="submit">Login</button>
</form>
<br>
<label>
  <input type="checkbox" checked="checked" name="remember"> Remember me
</label>


  <p>Don't have an account? Join us!<a href="register">Sign Up</a>.</p>


  <button type="button" class="cancelbtn">Cancel</button>

  <!-- button type="submit">Log Out</button> -->