





.aboutContainer{
    text-align: center;
  background-color: #d8e3e7;
  position: relative;
  padding-top: 100px;
  height: 400px;
}


.aboutLibrary{
    text-align: center;
    background-color: #eeebdd;
    position: relative;
    padding-top: 100px;
    height: 400px;

}





